@{
    ViewBag.Title = "Tài khoản của bạn không đủ số dư!";
}

<div id="common-wrapper">
    <h2>Số dư tài khoản của bạn không đủ để xem tài liệu này!<br /> Vui lòng nạp thêm tiền vào tài khoản.</h2>
    @Html.ActionLink("Trở về trang chủ", "Index")
</div>