@{
    ViewBag.Title = "Contact";
}
<div id="main" style="margin-left:48px">
<h1>Thư viện trường Đại Học Hà Nội</h1>
<h2>Địa chỉ:Km9- Nguyễn Trãi-Thanh Xuân- Hà Nội</h2>
<h2>Điện thoại:(84-4)38548121</h2>
<h2>Email:<a href="mailto:lic@hanu.vn">lic@hanu.vn</a></h2>
<h2>Hotline:0988607397</h2>
</div>