@{
    ViewBag.Title = "Guest";
}

<div id="common-wrapper">
    <h2>Mời bạn @Html.ActionLink("đăng nhập", "LogOn", "Home") để xem thông tin toàn văn<br /> Nếu chưa có tài khoản, mời bạn Liên hệ với thư viện trường Đại Học Hà Nội</h2>
    
</div>