@model IList<QML.Web.UI.Areas.Core.Models.RestrictedControllerModel>
@{
    ViewBag.Title = "Restricted Controllers";
}
<h4>
    @Html.Localize("Restricted controllers will not be displayed in Permission list")
</h4>

