@{
    ViewBag.Title = "ChangePasswordUser";
}
@using (Html.BeginForm())
{
    <fieldset>
        <input name="Id" type="hidden" value="@ViewBag.UserID" />

        <label style="margin-right: 15px; font-weight: bold">Mật khẩu mới</label>
        <input name="newPassword" type="text" size="50" />
        <br /><br />
        <div class="action">
            <button class="button button-green">@Html.Localize("Sửa")</button>
            @Html.ActionLinkButtonSecured(Html.Localize("Quay lại"), null, "Faculty", "UserEx", "Core")
        </div>
    </fieldset>
}
